#Consti:
#do not track the rknn crap files
external/rknn-toolkit/packages/*.whl

#do not track this crap neither:
external/rockx/python/*.whl

#do not track the generated images:
IMAGE/*

#also do not track this hughe file :)
kernel.git/*
packed-refsu-boot.git/*

# do not track the log (it increases with every build run)
br.log

# everything here is generated with each build,too
rockdev/*

# everything here is generated with each build
.rootfs/*

#I use CLion as ide, but do not add that stuff in github
.idea/*

# These directories have some stupid big files (Neural network-s) and we don't need them anyways
external/rknn-toolkit/*
external/rknpu/*
external/tensorflow/*



# We can leave out everything under "app" - We don't use this crap anyways
app/*


# Step 1 - do not track any folders
device/*
docs/*
external/*
prebuilts/*
rkbin/*
tools/*
u-boot/*












