# CONFIG_BT is not set
# CONFIG_ETHERNET is not set
# CONFIG_EXT4_FS is not set
# CONFIG_HID is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
CONFIG_KERNEL_GZIP=y
# CONFIG_KERNEL_LZ4 is not set
# CONFIG_MMC is not set
# CONFIG_NTFS_FS is not set
# CONFIG_OVERLAY_FS is not set
CONFIG_PANIC_TIMEOUT=2
# CONFIG_PHYLIB is not set
# CONFIG_RFKILL is not set
# CONFIG_RK_SFC_NOR is not set
# CONFIG_SCSI is not set
# CONFIG_SQUASHFS is not set
# CONFIG_USB is not set
CONFIG_USB_DWC3_GADGET=y
# CONFIG_VFAT_FS is not set
# CONFIG_VIDEO_IMX347 is not set
# CONFIG_VIDEO_OS04A10 is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
