CONFIG_MTD_NAND=y
# CONFIG_RK_FLASH is not set
# CONFIG_MTD_NAND_BRCMNAND is not set
# CONFIG_MTD_NAND_DENALI_DT is not set
# CONFIG_MTD_NAND_DISKONCHIP is not set
# CONFIG_MTD_NAND_DOCG4 is not set
CONFIG_MTD_NAND_ECC=y
# CONFIG_MTD_NAND_ECC_BCH is not set
# CONFIG_MTD_NAND_ECC_SMC is not set
# CONFIG_MTD_NAND_GPIO is not set
# CONFIG_MTD_NAND_NANDSIM is not set
# CONFIG_MTD_NAND_PLATFORM is not set
CONFIG_MTD_NAND_ROCKCHIP_V6=y
# CONFIG_MTD_NAND_ROCKCHIP_V9 is not set
# CONFIG_MTD_SPINAND_MT29F is not set
